namespace [% db %];

[% flatBuffers %]

[% FOREACH tableName IN tables.keys %]
  [% table = tables.$tableName %]
  table [% tableName %] {
    [% FOREACH field IN table.fields %]
      [% field.name %]: [% utils.type_to_flatbuffers(field.type) %][% field.attributes %];
    [% END %]
  }
[% END %]

table Empty {
}

root_type Empty;
